
panel{
	width: 100%;
}

.jumbotron{
	background-color: gold;
	/* Find light color of success panel */
	color: #eeeecc;
	padding-top: 1%;
	padding-bottom: 2%;
}

.panel-heading{
	padding-top: 0.25%;
}